$bodyBackground: grayLight;
$navbarBackground: yellow;
$navbarText: grayLight;
$textColor: gray;

@import 'bootstrap';

@import 'bootstrap-responsive';

.footer{
    margin-top: 100px;
    color: $grayLight;
    a{
        color: $gray;
    }
}
